.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card_inner > span {
  font-size: 25px;
}
.card:hover {
  background-color: #f3f4f6;
  cursor: pointer;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 150px;
  padding: 25px;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
}
.font-bold {
  font-weight: 700;
}
.text-title {
  color: #ffffff;
}
@media (max-width: 768px) {
  .css-aq1gdx-MuiDrawer-docked .MuiDrawer-paper {
    display: none !important;
  }
  .create-user-form {
    width: 90% !important;
  }
}

/* add user information */
.create-user-form {
  position: relative;
  background: #f5f5f5;
  width: 50%;
  justify-content: 🇦🇫center;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 5px;
  margin-bottom: 30px;
  display: block;
}

.user-input-style {
  background: #ffffff !important;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select {
  background: #ffff !important;
}

.user-icon {
  color: #4caf50 !important;
  height: 2rem;
}

.save-button {
  display: flex;
  margin-top: 10px;
}

.close-btn {
  position: absolute;
  top: 0;
  margin-top: 5px;
  margin-right: 10px;
  right: 0;
}
